{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}
{% block title_h1 %}Bienvenue sur Allocinoche!{% endblock %}

{% block body %}

    <div id="films" class="flex-container"></div>

{% endblock %}